<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jd.cardapp.dao.GraphicMapper" >
  <resultMap id="BaseResultMap" type="com.jd.cardapp.model.Graphic" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="filename" property="filename" jdbcType="VARCHAR" />
    <result column="folder" property="folder" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="pay" property="pay" jdbcType="DOUBLE" />
    <result column="contributor" property="contributor" jdbcType="VARCHAR" />
    <result column="download" property="download" jdbcType="INTEGER" />
    <result column="introduce" property="introduce" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
    <result column="detail" property="detail" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, filename, folder, type, pay, contributor, download, introduce, score,
    detail, createtime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jd.cardapp.model.GraphicExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_graphic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from t_graphic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_graphic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jd.cardapp.model.GraphicExample" >
    delete from t_graphic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jd.cardapp.model.Graphic" >
    insert into t_graphic (id, title, filename,
    folder, type, pay, contributor,
    download, introduce, score,
    detail, createtime)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{filename,jdbcType=VARCHAR},
    #{folder,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{pay,jdbcType=DOUBLE}, #{contributor,jdbcType=VARCHAR},
    #{download,jdbcType=INTEGER}, #{introduce,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER},
    #{detail,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jd.cardapp.model.Graphic" >
    insert into t_graphic
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="filename != null" >
        filename,
      </if>
      <if test="folder != null" >
        folder,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="pay != null" >
        pay,
      </if>
      <if test="contributor != null" >
        contributor,
      </if>
      <if test="download != null" >
        download,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
      <if test="score != null" >
        score,
      </if>
      <if test="detail != null" >
        detail,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="folder != null" >
        #{folder,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="pay != null" >
        #{pay,jdbcType=DOUBLE},
      </if>
      <if test="contributor != null" >
        #{contributor,jdbcType=VARCHAR},
      </if>
      <if test="download != null" >
        #{download,jdbcType=INTEGER},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
      <if test="detail != null" >
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jd.cardapp.model.GraphicExample" resultType="java.lang.Integer" >
    select count(*) from t_graphic
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_graphic
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.filename != null" >
        filename = #{record.filename,jdbcType=VARCHAR},
      </if>
      <if test="record.folder != null" >
        folder = #{record.folder,jdbcType=VARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.pay != null" >
        pay = #{record.pay,jdbcType=DOUBLE},
      </if>
      <if test="record.contributor != null" >
        contributor = #{record.contributor,jdbcType=VARCHAR},
      </if>
      <if test="record.download != null" >
        download = #{record.download,jdbcType=INTEGER},
      </if>
      <if test="record.introduce != null" >
        introduce = #{record.introduce,jdbcType=VARCHAR},
      </if>
      <if test="record.score != null" >
        score = #{record.score,jdbcType=INTEGER},
      </if>
      <if test="record.detail != null" >
        detail = #{record.detail,jdbcType=VARCHAR},
      </if>
      <if test="record.createtime != null" >
        createtime = #{record.createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_graphic
    set id = #{record.id,jdbcType=INTEGER},
    title = #{record.title,jdbcType=VARCHAR},
    filename = #{record.filename,jdbcType=VARCHAR},
    folder = #{record.folder,jdbcType=VARCHAR},
    type = #{record.type,jdbcType=INTEGER},
    pay = #{record.pay,jdbcType=DOUBLE},
    contributor = #{record.contributor,jdbcType=VARCHAR},
    download = #{record.download,jdbcType=INTEGER},
    introduce = #{record.introduce,jdbcType=VARCHAR},
    score = #{record.score,jdbcType=INTEGER},
    detail = #{record.detail,jdbcType=VARCHAR},
    createtime = #{record.createtime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jd.cardapp.model.Graphic" >
    update t_graphic
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="filename != null" >
        filename = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="folder != null" >
        folder = #{folder,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="pay != null" >
        pay = #{pay,jdbcType=DOUBLE},
      </if>
      <if test="contributor != null" >
        contributor = #{contributor,jdbcType=VARCHAR},
      </if>
      <if test="download != null" >
        download = #{download,jdbcType=INTEGER},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
      <if test="detail != null" >
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jd.cardapp.model.Graphic" >
    update t_graphic
    set title = #{title,jdbcType=VARCHAR},
      filename = #{filename,jdbcType=VARCHAR},
      folder = #{folder,jdbcType=VARCHAR},
      type = #{type,jdbcType=INTEGER},
      pay = #{pay,jdbcType=DOUBLE},
      contributor = #{contributor,jdbcType=VARCHAR},
      download = #{download,jdbcType=INTEGER},
      introduce = #{introduce,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER},
      detail = #{detail,jdbcType=VARCHAR},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getGraphicList" resultType="com.jd.cardapp.model.Graphic">
    select
    <include refid="Base_Column_List" />
    from t_graphic
    <trim prefix="where" prefixOverrides="and|or">
      <if test="key!=null">
        (
        <foreach collection="key" item="item" index="index"  separator="OR">
          title LIKE CONCAT('%',#{item},'%')
          OR contributor LIKE CONCAT('%',#{item},'%')
        </foreach>
        )
      </if>
      <choose>
        <when test=" (begin!=null and end==null) or (begin!='' and end=='') ">
          AND createtime >= #{begin,jdbcType=VARCHAR}
        </when>
        <when test=" (end!=null and begin==null) or (end!='' and begin=='') ">
          AND #{end,jdbcType=VARCHAR} >= createtime
        </when>
        <when test=" (begin!=null and end!=null) and (begin!='' and end!='') ">
          AND createtime >= #{begin,jdbcType=VARCHAR} AND #{end,jdbcType=VARCHAR} >= createtime
        </when>
      </choose>
    </trim>
    ORDER BY createtime DESC
  </select>

</mapper>