
<!DOCTYPE html>
<html lang='cn' xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>纺织名片宝-关于我们</title>
        <script type="text/javascript" src="/front/Scripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/front/Scripts/jquery.SuperSlide.2.1.js"></script>
        <link rel="stylesheet" href="/front/Content/commons.css">
        <link href="/front/Content/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="/front/Scripts/index.js"></script>
           </head>
    <body>
        <div th:include="front/header"></div>
        <div class="banner1"></div>
        <div class="gsjs">
            <div class="gsjs_tit">
                <span class="on">公司介绍</span>
                <span>职业发展</span>
                <span>联系我们</span>
            </div>
            <div class="gywm_nr">
                <div class="gywmbox">
                    <div class="gsgk">
                        <p>
                            纺织名片宝是上海澜慧集团下属的核心产品这一，是一个专门服务于纺织服装人的高端平台。上海澜慧企业管理有限公司成立于2013年，是一家由年轻团队实力打造的科技型创业公司；利用大数据，云计算等先进手段为企业提供数据信息服务，管理咨询调研，数字营销策略等一站式企业管理方案。</p>
                        <div class="tpbox"><img src="/front/Content/images/a_01.png"/></div>
                        <p><span>澜慧核心产品之一：纺织名片宝</span>，其立足于纺织服装行业，以名片查询为产品主线，通过人人参与的新型模式，达到共享互益的双赢效果，在互联网，大数据爆发式发展的当下，让信息数据在行内高效精准流通，有助于打破数据孤岛，创造更多价值。此外，行业资讯时时更新，供需免费发布，高端定制化服务等也为广大纺织服装企业创造了极大的价格。
                        </p><br/>
                        <p>慧澜人秉承“澜帆天下，慧聚四方”的使命，弘扬“追求卓越、合作共赢、值得信赖”的企业价值观。我们致力于帮助客户成功，推动行业信息化，数字化发展。</p>
                    </div>
                </div>
                <div class="gywmbox" style="display: none;">
                    <div class="zyfz">
                        <div class="zyfzbox">
                            <div class="zyfz_nr">
                                <div class="zxqk">
                                    <div class="zxqk_tp"><img src="/front/Content/images/a8.jpg"/></div>
                                    <div class="zxqk_nr">
                                        <p>薪资：澜慧会为员工提供具有一定行业竞争力的薪资</p>
                                        <p>奖金：根据员工的年度技校提供年终奖金，优秀员工奖金更丰厚</p>
                                        <p>期权奖励：根据员工的情况，澜慧会奖励员工绩效服权</p>
                                        <p>额外奖励：嫉妒之星，优秀员工，澜慧针对优秀工作者有着多样的额外奖励</p>
                                    </div>
                                </div>
                            </div>
                            <div class="zyfz_nr" style="display: none;">
                                <ul>
                                    <li>
                                        <div class="zxfl">
                                            <div class="zxfl_box1">
                                                <img src="/front/Content/images/a5.jpg"/>
                                                <p>财富贴心</p>
                                            </div>
                                            <div class="zxfl_nr1">
                                                <p>社会保障</p>
                                                <p><span>下一标题</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="zxfl">
                                            <div class="zxfl_box2">
                                                <img src="/front/Content/images/a6.jpg"/>
                                                <p>生活暖心</p>
                                            </div>
                                            <div class="zxfl_nr2">
                                                <p>带薪休假</p>
                                                <h4>澜慧每年给予员工10天的带薪休假，工作满一年后，每一年增加一天。</h4>
                                                <p><span>下一标题</span></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="zxfl">
                                            <div class="zxfl_box3">
                                                <img src="/front/Content/images/a7.jpg"/>
                                                <p>健康安心</p>
                                            </div>
                                            <div class="zxfl_nr3">
                                                <p>年度体检</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="zyfz_nr" style="display: none;">
                                <div class="zxqk_tp"><img src="/front/Content/images/a_01.png"/></div>
                            </div>
                        </div>
                    </div>
               
                </div>
                <div class="gywmbox" style="display: none;">
                    <div class="lxwm">
                        <div class="lxwm_tp"><img src="/front/Content/images/a_02.png"/></div>
                        <div class="lxwm_text">
                            <div class="lxwm_box" style="width:420px">
                                <div class="lxbox">
                                    <h2>上海澜慧企业管理咨询有限公司（纺织名片宝事业部）</h2>
                                    <ul>
                                        <li>地址：上海市闵行区浦江镇恒南路17号</li>
                                        <li>邮编：201114</li>
                                        <li>总机电话：021-888888</li>
                                        <li>传真：021-8888233</li>
                                        <li>网址：www.textilecards.com</li>
                                        <li>邮箱：info@textilecards.com</li>
                                    </ul>
                                </div>
                                <div class="lxbox">
                                    <h2>业务咨询</h2>
                                    <ul>
                                        <li>联系人：jack</li>
                                        <li>电话：021-888888-101</li>
                                        <li>邮箱：info@textilecards.com</li>
                                        <li>jack@textilecards.com</li>
                                    </ul>
                                </div>
                                <div class="lxbox">
                                    <h2>商务合作</h2>
                                    <ul>
                                        <li>联系人：Alan</li>
                                        <li>电话：021-888888-113</li>
                                        <li>邮箱：market@textilecards.com</li>
                                        <li>alan@textilecards.com</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lxwm_box" style="width:250px">
                                <div class="lxbox">
                                    <ul>
                                        <h2>人才招聘</h2>
                                        <li>联系人：Grace</li>
                                        <li>电话：021-888888-108</li>
                                        <li>邮箱：hr@textilecards.com</li>
                                        <li>Grace@textilecards.com</li>
                                    </ul>
                                </div>
                                <div class="lxbox">
                                    <h2>财务发票</h2>
                                    <ul>
                                        <li>联系人：Lucy</li>
                                        <li>电话：021-888888-118</li>
                                        <li>邮箱：finance@textilecards.com</li>
                                        <li>lucy@textilecards.com</li>
                                    </ul>
                                </div>
                                <div class="lxbox">
                                    <h2>投诉建议</h2>
                                    <ul>
                                        <li>联系人：Mark</li>
                                        <li>电话：021-888888-123</li>
                                        <li>邮箱：feedback@textilecards.com</li>
                                        <li>mark@textilecards.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(".gsjs .gsjs_tit span").each(function (index) {
                $(this).click(function () {
                    $(".on").removeClass("on");
                    $(this).addClass("on");
                    $(".gsjs .gywm_nr .gywmbox:eq(" + index + ")").show().siblings().hide();
                });
            });
        </script>

        <div th:include="front/footer"></div>
    </body>
</html>
<script type="text/javascript">
		$(".nav li h3 a").eq(5).css("color","#000");
</script>