<!DOCTYPE html>
<html lang='cn' xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>纺织名片宝</title>
        <link rel="stylesheet" href="/front/Content/commons.css">
        <link href="/front/Content/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="/front/Scripts/jquery1.42.min.js"></script>
        <script type="text/javascript" src="/front/Scripts/jquery.SuperSlide.2.1.js"></script>
        <script type="text/javascript" src="/front/Scripts/index.js"></script>

    </head>

    <body>
        <!--左侧折叠窗-->
        <div id="divQQbox" class="QQbox" style="left:-262px;top:220px;">
            <div id="divOnline" class="Qlist">
                <div class="OnlineLeft">
                    <div class="con">
                        <ul>
                            <li><a href="">CEM客户关系管理</a></li>
                            <li><a href="">商业决策支持</a></li>
                            <li><a href="">数字化营销</a></li>
                        </ul>
                    </div>
                </div>
                <div class="OnlineBtn"><img src="/front/Content/images/a_04.png"/></div>
            </div>
        </div>
<!--        <script type="text/javascript">-->
<!--            window.setInterval("FloatScroll()", 1);-->
<!--        </script>-->
        <!--左侧折叠窗-->

        <div th:include="front/header"></div>
        <div class="banner1"></div>
        <div class="xtxx">
            <div class="xtxx_top">
                <div class="xtxx_tit"><p><a href="">数据服务</a>&nbsp;>&nbsp;<a href="">报告下载</a></p></div>
            </div>
            <div class="sjfw">

                <div class="xzzynr">
                    <div class="mjzh_ss">
                        <div class="ss_text">
                            <p>匹配<a href="">防止腹帐行业分析报告</a>的文章共计13篇（由用户发布，经本站审核以下信息有效，所有下载看该文档，付费概不退款）</p>
                        </div>
                        <div class="ssnr" style="float:right">
                            <input name="" type="text" class="wby4"/><input name="" type="submit" class="btn3"
                                                                            value="搜索"/>
                        </div>
                    </div>
                    <div class="xzbox">
                        <h2><span class="fr">质量<em>4.5</em>分</span><a href=""><i>2017</i>纺织服装行业分析报告<i>_图文</i></a></h2>
                        <p>
                            介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>
                        <h4><span>2017-09-07</span>|<span>共34页</span>|<span>0次下载</span>|<span>￥188.00</span>|<span>贡献者：刘小呆</span>
                        </h4>
                    </div>
                    <div class="xzbox">
                        <h2><span class="fr">质量<em>4.5</em>分</span><a href=""><i>2017</i>纺织服装行业分析报告<i>_图文</i></a></h2>
                        <p>
                            介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>
                        <h4><span>2017-09-07</span>|<span>共34页</span>|<span>0次下载</span>|<span>￥188.00</span>|<span>贡献者：刘小呆</span>
                        </h4>
                    </div>
                    <div class="xzbox">
                        <h2><span class="fr">质量<em>4.5</em>分</span><a href=""><i>2017</i>纺织服装行业分析报告<i>_图文</i></a></h2>
                        <p>
                            介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>
                        <h4><span>2017-09-07</span>|<span>共34页</span>|<span>0次下载</span>|<span>￥188.00</span>|<span>贡献者：刘小呆</span>
                        </h4>
                    </div>
                    <div class="xzbox">
                        <h2><span class="fr">质量<em>4.5</em>分</span><a href=""><i>2017</i>纺织服装行业分析报告<i>_图文</i></a></h2>
                        <p>
                            介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍介绍</p>
                        <h4><span>2017-09-07</span>|<span>共34页</span>|<span>0次下载</span>|<span>￥188.00</span>|<span>贡献者：刘小呆</span>
                        </h4>
                    </div>

                </div>
                <div class="dede_pages">
                    <ul class="pagelist">
                        <li><a href="#">上一页</a></li>
                        <li><a href="#">1</a></li>
                        <li class="thisclass"><a href="#">2</a></li>
                        <li><a href="#">下一页</a>
                        <li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
        <div th:include="front/footer"></div>

    </body>
</html>
