<html lang='cn' xmlns:th="http://www.thymeleaf.org">
<div id="footer">
            <div class="footerbox">
                <div class="wzgn">
                    <div class="wzgn_left">
                        <div class="blogo"><a href=""><img th:src="@{/front/Content/images/a_17.png}"></a></div>
                        <div class="wzgn_text">
                            <p>纺织名片宝是澜慧集团下属的核心产品之一，致力于打造纺织服装行业信息数据服务一体化平台。通过人人参与，数据共享的新型模式，从而打破数据孤岛，让信息高效精准流通。</p>
                        </div>
                        <div class="fwrx">
                            <div class="fw_left">
                                <ul>
                                    <li><a href=""><img src="/front/Content/images/a_24.png">
                                        <p>服务热线<span>021-00000000</span></p></a></li>
                                    <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3533560893&site=qq&menu=yes"><img src="/front/Content/images/a_26.png">
                                        <p>QQ客服<span>3533560893</span></p></a></li>
                                    <li><a href=""><img src="/front/Content/images/a_31.png">
                                        <p>名片宝宝<span>微信咨询</span></p></a></li>
                                    <li><a href=""><img src="/front/Content/images/a_34.png">
                                        <p>今日头条<span>关注我们</span></p></a></li>
                                </ul>
                            </div>
                            <div class="wbbox"><img src="/front/Content/images/a_21.png"></div>
                        </div>
                    </div>
                    <div class="wzgn_right">
                        <div class="gndl">
                            <h2>名片宝库</h2>
                            <ul>
                                <li><a href="">买手综合</a></li>
                                <li><a href="">原料纱线</a></li>
                                <li><a href="">面料布匹</a></li>
                                <li><a href="">成衣服饰</a></li>
                                <li><a href="">家居家纺</a></li>
                                <li><a href="">辅料包装</a></li>
                                <li><a href="">纺机印染</a></li>
                                <li><a href="">其它</a></li>
                            </ul>
                        </div>
                        <div class="gndl">
                            <h2>供需平台</h2>
                            <ul>
                                <li><a href="">买家需求</a></li>
                                <li><a href="">卖家发布</a></li>
                                <li><a href="">人才招聘</a></li>
                            </ul>
                        </div>
                        <div class="gndl">
                            <h2>行业资讯</h2>
                            <ul>
                                <li><a href="hangyezixun.php">国际资讯</a></li>
                                <li><a href="hangyezixun.php">国内资讯</a></li>
                                <li><a href="hangyezixun.php">商业资讯</a></li>
                                <li><a href="hangyezixun.php">会务会展</a></li>
                            </ul>
                        </div>
                        <div class="gndl">
                            <h2>数据服务</h2>
                            <ul>
                                <li><a href="">买家数据</a></li>
                                <li><a href="baogaoxiazai.php">报告下载</a></li>
                                <li><a href="sjfwqt.php">其它</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="bqxx">
                    <ul>
                        <li>友情链接：</li>
                        <li><a href="">全球纺织网</a></li>
                        <li><a href="">网上轻纺城</a></li>
                        <li><a href="">全球轻纺网</a></li>
                        <li><a href=""><b>纺织服装周刊</b></a></li>
                        <li><a href="">好订单网</a></li>
                        <li><a href="">找布网</a></li>
                        <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2197720771&site=qq&menu=yes">申请友链</a></li>
                    </ul>
                    <ul>
                        <li><a href="">关于我们</a>|</li>
                        <li><a href="">网站地图</a>|</li>
                        <li><a href="">联系我们</a>|</li>
                        <li><a href="">法律声明</a>|</li>
                        <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=3425822932&site=qq&menu=yes">投诉建议</a></li>
                    </ul>
                </div>
            </div>
        </div>




<div class="yb_conct">
    <div class="yb_bar">
        <ul>
            <li class="yb_top">返回顶部</li>
            <li class="yb_phone">400-625-0083</li>
            <li class="yb_QQ">
                <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&amp;uin=3533560893&amp;site=qq&amp;menu=yes&amp;from=message&amp;isappinstalled=0" title="即刻发送您的需求">在线咨询</a>
            </li>
            <li class="yb_ercode" style="height:53px;">微信二维码 <br>
                <img class="hd_qr" src="/front/Content/images/a_21.png" width="125" alt="关注你附近"> </li>
        </ul>
    </div>
</div>
</html>