<!DOCTYPE html>
<html lang='cn' xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>供需平台</title>


        <link rel="stylesheet" href="/front/Content/commons.css">
        <link href="/front/Content/style.css" rel="stylesheet" type="text/css"/>
        <link href="/front/Content/gongxupingtai.css" rel="stylesheet" type="text/css"/>


        <script type="text/javascript" src="/front/Scripts/jquery2.2.2.min.js"></script>
        <script type="text/javascript" src="/front/Scripts/jquery.SuperSlide.2.1.js"></script>
        <script type="text/javascript" src="/front/Scripts/index.js"></script>

    </head>
    <body>
    <div th:include="front/header"></div>
        <div class="banner1"></div>
        <div class="xtxx">
            <div class="xtxx_top">
                <div class="xtxx_tit"><p><a href="#">供需平台</a></p></div>
            </div>
            <div class="wdda wdda_company">
                <div class="gsjs">
                    <div class="gsjs_tit">
                        <span class="on">买家需求</span>
                        <span>卖家发布</span>
                        <span>人才招聘</span>
                    </div>
                    <div class="gywm_nr">
                        <div class="gywmbox">
                            <div class="gxpt">
                                <div class="qpts">
                                    <h1><span>特别声明：</span>纺织名片宝刊登之所有信息不声明或保证其内容之正确性或可靠性；您 在此接受并承认个息任何信息所生之风险应自行承担，纺织名片宝有权但无此义务，改变或更正所登信息任何部分之错误 或损失<a href="" class="btn11">我有需求</a></h1>
                                    <ul class="nav-nav">
                                        <li class="navdown1"><a class="tc" href="##" ><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>


                                    </ul>
                                </div>
                                <div class="dede_pages">
                                    <ul class="pagelist">
                                        <li><a href="#">上一页</a></li>
                                        <li><a href="#">1</a></li>
                                        <li class="thisclass"><a href="#">2</a></li>
                                        <li><a href="#">下一页</a>
                                        </li><li>
                                        </li></ul>
                                </div>
                            </div>
                        </div>

                        <div class="gywmbox" style="display: none;">
                            <div class="gxpt">
                                <div class="qpts">
                                    <h1><span>特别声明：</span>纺织名片宝刊登之所有信息不声明或保证其内容之正确性或可靠性；您 在此接受并承认个息任何信息所生之风险应自行承担，纺织名片宝有权但无此义务，改变或更正所登信息任何部分之错误 或损失<a href="" class="btn11">我要发布</a></h1>
                                    <ul class="nav-nav">
                                        <li class="navdown1"><a class="tc" href="##" ><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>


                                    </ul>
                                </div>
                                <div class="dede_pages">
                                    <ul class="pagelist">
                                        <li><a href="#">上一页</a></li>
                                        <li><a href="#">1</a></li>
                                        <li class="thisclass"><a href="#">2</a></li>
                                        <li><a href="#">下一页</a>
                                        </li><li>
                                        </li></ul>
                                </div>
                            </div>
                            <script>
                                $(".zyfz .zyfz_tit a").each(function (index) {
                                    $(this).click(function () {
                                        $(".on1").removeClass("on1");
                                        $(this).addClass("on1");
                                        $(".zyfz .zyfzbox .zyfz_nr:eq(" + index + ")").show().siblings().hide();
                                    });
                                });
                            </script>
                        </div>
                        <div class="gywmbox" style="display: none;">
                            <div class="gxpt">
                                <div class="qpts">
                                    <h1><span>特别声明：</span>纺织名片宝刊登之所有信息不声明或保证其内容之正确性或可靠性；您 在此接受并承认个息任何信息所生之风险应自行承担，纺织名片宝有权但无此义务，改变或更正所登信息任何部分之错误 或损失<a href="" class="btn11">人才招聘</a></h1>
                                    <ul class="nav-nav">
                                        <li class="navdown1"><a class="tc" href="##" ><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>


                                    </ul>
                                </div>
                                <div class="dede_pages">
                                    <ul class="pagelist">
                                        <li><a href="#">上一页</a></li>
                                        <li><a href="#">1</a></li>
                                        <li class="thisclass"><a href="#">2</a></li>
                                        <li><a href="#">下一页</a>
                                        </li><li>
                                        </li></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(".gsjs .gsjs_tit span").each(function (index) {
                        $(this).click(function () {
                            $(".on").removeClass("on");
                            $(this).addClass("on");
                            $(".gsjs .gywm_nr .gywmbox:eq(" + index + ")").show().siblings().hide();
                        });
                    });
                </script>

            </div>

        </div>
       <div id="gray"></div>
       <div class="popup" id="popup">
           <div class="top_nav" id='top_nav'>
               <div align="center">
                   <span>需求</span>
                   <a class="guanbi"></a>
               </div>
           </div>
           <div class="min">
                <div class="xuqiu-title">需求（如阿里巴巴）</div>
               <div class="xuqiu-content">
                   <p>纺织名片宝刊登之所有信息不声明或保证其内容之正确性或可靠性；您 在此接受并承认个息任何信息所生之风险应自行承担，纺织名片宝有权但无此义务，改变或更正所登信息任何部分之错误 或损失</p>
                   <div class="xuqiu-img">
                       <img src="../Content/images/a_07.png" alt="">
                   </div>
                   <p>纺织名片宝刊登之所有信息不声明或保证其内容之正确性或可靠性；您 在此接受并承认个息任何信息所生之风险应自行承担，纺织名片宝有权但无此义务，改变或更正所登信息任何部分之错误 或损失</p>
                   <p>纺织名片宝刊登之所有信息不声明或保证其内容之正确性或可靠性；您 在此接受并承认个息任何信息所生之风险应自行承担，纺织名片宝有权但无此义务，改变或更正所登信息任何部分之错误 或损失</p>

               </div>
           </div>
       </div>
       <div th:include="front/footer"></div>

    </body>
</html>
<script type="text/javascript">
		$(".nav li h3 a").eq(2).css("color","#000");
</script>
<script type="text/javascript">
    //窗口效果
    //点击登录class为tc 显示
    $(".tc").click(function(){
        $("#gray").show();
        $("#popup").show();//查找ID为popup的DIV show()显示#gray
        tc_center();
    });
    //点击关闭按钮
    $("a.guanbi").click(function(){
        $("#gray").hide();
        $("#popup").hide();//查找ID为popup的DIV hide()隐藏
    })

    //窗口水平居中
    $(window).resize(function(){
        tc_center();
    });

    function tc_center(){
        var _top=($(window).height()-$(".popup").height())/2;
        var _left=($(window).width()-$(".popup").width())/2;

        $(".popup").css({top:_top,left:_left});
    }
</script>

<script type="text/javascript">
    $(document).ready(function(){

        $(".top_nav").mousedown(function(e){
            $(this).css("cursor","move");//改变鼠标指针的形状
            var offset = $(this).offset();//DIV在页面的位置
            var x = e.pageX - offset.left;//获得鼠标指针离DIV元素左边界的距离
            var y = e.pageY - offset.top;//获得鼠标指针离DIV元素上边界的距离
            $(document).bind("mousemove",function(ev){ //绑定鼠标的移动事件，因为光标在DIV元素外面也要有效果，所以要用doucment的事件，而不用DIV元素的事件

                $(".popup").stop();//加上这个之后

                var _x = ev.pageX - x;//获得X轴方向移动的值
                var _y = ev.pageY - y;//获得Y轴方向移动的值

                $(".popup").animate({left:_x+"px",top:_y+"px"},10);
            });

        });

        $(document).mouseup(function() {
            $(".popup").css("cursor","default");
            $(this).unbind("mousemove");
        });
    })
</script>
<script type="text/javascript">
    $(document).ready(function(){

        $('.qpts .nav-nav').find('li').click(function(){
            $(this).addClass("navdown1")
                .siblings().removeClass();

        });

    });


</script>
