<!DOCTYPE html>
<html lang='cn' xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>供需平台</title>


        <link rel="stylesheet" href="/front/Content/commons.css">
        <link href="/front/Content/style.css" rel="stylesheet" type="text/css"/>
        <link href="/front/Content/gongxupingtai.css" rel="stylesheet" type="text/css"/>


        <script type="text/javascript" src="/front/Scripts/jquery2.2.2.min.js"></script>
        <script type="text/javascript" src="/front/Scripts/jquery.SuperSlide.2.1.js"></script>
        <script type="text/javascript" src="/front/Scripts/index.js"></script>

        <script src="/public/js/layer/layer.js"></script>

    </head>
    <body>
    <div th:include="front/header"></div>
        <div class="banner1"></div>
        <div class="xtxx">
            <div class="xtxx_top">
                <div class="xtxx_tit"><p><a href="#">供需平台</a></p></div>
            </div>
            <div class="wdda wdda_company">
                <div class="gsjs">
                    <div class="gsjs_tit">
                        <span class="on">买家需求</span>
                        <span>卖家发布</span>
                        <span>人才招聘</span>
                    </div>

                    <!-- 买家需求 -->
                    <div class="gywm_nr">
                        <div class="gywmbox">
                            <div class="gxpt">
                                <div class="qpts">
                                    <h1><span>特别声明：</span>纺织名片宝刊登之所有信息不声明或保证其内容之正确性或可靠性；您 在此接受并承认个息任何信息所生之风险应自行承担，纺织名片宝有权但无此义务，改变或更正所登信息任何部分之错误 或损失
                                        <a href="/user/buyerRequest.php" class="btn11">我有需求</a>
                                    </h1>
                                    <ul class="nav-nav" id="tbody0">
                                        <!--
                                        <li class="navdown1"><a class="tc" href="##" ><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>

                                        -->
                                    </ul>
                                </div>
                                <div class="dede_pages u0">
                                    <ul class="pagelist">
                                        <li><a href="#">上一页</a></li>
                                        <li><a href="#">1</a></li>
                                        <li class="thisclass"><a href="#">2</a></li>
                                        <li><a href="#">下一页</a>
                                        </li><li>
                                        </li></ul>
                                </div>
                                <input type="hidden" id="pageNo0" value="1">
                                <input type="hidden" id="pages0" value="1">
                            </div>
                        </div>

                        <!-- 卖家发布 -->
                        <div class="gywmbox" style="display: none;">
                            <div class="gxpt">
                                <div class="qpts">
                                    <h1><span>特别声明：</span>纺织名片宝刊登之所有信息不声明或保证其内容之正确性或可靠性；您 在此接受并承认个息任何信息所生之风险应自行承担，纺织名片宝有权但无此义务，改变或更正所登信息任何部分之错误 或损失<a href="" class="btn11">我要发布</a></h1>
                                    <ul class="nav-nav" id="tbody1">
                                        <!--
                                        <li class="navdown1"><a class="tc" href="##" ><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        -->

                                    </ul>
                                </div>
                                <div class="dede_pages u1">
                                    <ul class="pagelist">
                                        <li><a href="#">上一页</a></li>
                                        <li><a href="#">1</a></li>
                                        <li class="thisclass"><a href="#">2</a></li>
                                        <li><a href="#">下一页</a>
                                        </li><li>
                                        </li></ul>
                                </div>
                                <input type="hidden" id="pageNo1" value="1">
                                <input type="hidden" id="pages1" value="1">
                            </div>
                            <script>
                                $(".zyfz .zyfz_tit a").each(function (index) {
                                    $(this).click(function () {
                                        $(".on1").removeClass("on1");
                                        $(this).addClass("on1");
                                        $(".zyfz .zyfzbox .zyfz_nr:eq(" + index + ")").show().siblings().hide();
                                    });
                                });
                            </script>
                        </div>

                        <!-- 人才招聘 -->
                        <div class="gywmbox" style="display: none;">
                            <div class="gxpt">
                                <div class="qpts">
                                    <h1><span>特别声明：</span>纺织名片宝刊登之所有信息不声明或保证其内容之正确性或可靠性；您 在此接受并承认个息任何信息所生之风险应自行承担，纺织名片宝有权但无此义务，改变或更正所登信息任何部分之错误 或损失<a href="" class="btn11">人才招聘</a></h1>
                                    <ul class="nav-nav" id="tbody2">
                                        <!--
                                        <li class="navdown1"><a class="tc" href="##" ><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        <li><a class="tc" href="#"><h3>纺织宝一句话标题</h3></a></li>
                                        -->

                                    </ul>
                                </div>
                                <div class="dede_pages u2">
                                    <ul class="pagelist">
                                        <li><a href="#">上一页</a></li>
                                        <li><a href="#">1</a></li>
                                        <li class="thisclass"><a href="#">2</a></li>
                                        <li><a href="#">下一页</a>
                                        </li><li>
                                        </li></ul>
                                </div>
                                <input type="hidden" id="pageNo2" value="1">
                                <input type="hidden" id="pages2" value="1">
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    $(".gsjs .gsjs_tit span").each(function (index) {
                        $(this).click(function () {
                            $(".on").removeClass("on");
                            $(this).addClass("on");
                            $(".gsjs .gywm_nr .gywmbox:eq(" + index + ")").show().siblings().hide();
                        });
                    });
                </script>

            </div>

        </div>
       <div id="gray"></div>
       <div class="popup" id="popup">
           <div class="top_nav" id='top_nav'>
               <div align="center">
                   <span>需求</span>
                   <a class="guanbi"></a>
               </div>
           </div>
           <div class="min">
                <div class="xuqiu-title">需求（如阿里巴巴）</div>
               <div class="xuqiu-content">
                   <p>纺织名片宝刊登之所有信息不声明或保证其内容之正确性或可靠性；您 在此接受并承认个息任何信息所生之风险应自行承担，纺织名片宝有权但无此义务，改变或更正所登信息任何部分之错误 或损失</p>
                   <div class="xuqiu-img">
                       <img src="../Content/images/a_07.png" alt="">
                   </div>
                   <p>纺织名片宝刊登之所有信息不声明或保证其内容之正确性或可靠性；您 在此接受并承认个息任何信息所生之风险应自行承担，纺织名片宝有权但无此义务，改变或更正所登信息任何部分之错误 或损失</p>
                   <p>纺织名片宝刊登之所有信息不声明或保证其内容之正确性或可靠性；您 在此接受并承认个息任何信息所生之风险应自行承担，纺织名片宝有权但无此义务，改变或更正所登信息任何部分之错误 或损失</p>

               </div>
           </div>
       </div>
       <div th:include="front/footer"></div>

    </body>
</html>
<script type="text/javascript">
		$(".nav li h3 a").eq(2).css("color","#000");
</script>
<script type="text/javascript">
    //窗口效果
    //点击登录class为tc 显示
    $(".tc").click(function(){
        $("#gray").show();
        $("#popup").show();//查找ID为popup的DIV show()显示#gray
        tc_center();
    });
    //点击关闭按钮
    $("a.guanbi").click(function(){
        $("#gray").hide();
        $("#popup").hide();//查找ID为popup的DIV hide()隐藏
    })

    //窗口水平居中
    $(window).resize(function(){
        tc_center();
    });

    function tc_center(){
        var _top=($(window).height()-$(".popup").height())/2;
        var _left=($(window).width()-$(".popup").width())/2;

        $(".popup").css({top:_top,left:_left});
    }
</script>

<script type="text/javascript">
    $(document).ready(function(){

        $(".top_nav").mousedown(function(e){
            $(this).css("cursor","move");//改变鼠标指针的形状
            var offset = $(this).offset();//DIV在页面的位置
            var x = e.pageX - offset.left;//获得鼠标指针离DIV元素左边界的距离
            var y = e.pageY - offset.top;//获得鼠标指针离DIV元素上边界的距离
            $(document).bind("mousemove",function(ev){ //绑定鼠标的移动事件，因为光标在DIV元素外面也要有效果，所以要用doucment的事件，而不用DIV元素的事件

                $(".popup").stop();//加上这个之后

                var _x = ev.pageX - x;//获得X轴方向移动的值
                var _y = ev.pageY - y;//获得Y轴方向移动的值

                $(".popup").animate({left:_x+"px",top:_y+"px"},10);
            });

        });

        $(document).mouseup(function() {
            $(".popup").css("cursor","default");
            $(this).unbind("mousemove");
        });
    })
</script>
<script type="text/javascript">
    $(document).ready(function(){

        $('.qpts .nav-nav').find('li').click(function(){
            $(this).addClass("navdown1")
                .siblings().removeClass();

        });

    });


</script>

<script>

    //  /user/requestList   Integer type , Integer pageNo ,Integer pageSize
    $(function () {
        var url = "/user/requestList";
        var info0 = {type:0,pageNo:1,pageSize:20};
        var info1 = {type:1,pageNo:1,pageSize:20};
        var info2 = {type:2,pageNo:1,pageSize:20};
        send_post0(url,info0);
        send_post1(url,info1);
        send_post2(url,info2);
    });

    function send_post0(url, info) {
        $.post(url,info,function (data) {
            var tb = $("#tbody0");
            tb.empty();
            var html = '';
            $.each(data.list,function(i,row){
                html += '<li class="navdown1">';
                html += '<a class="tc show" fid="'+row.id+'" href="javascript:;" >';
                html += '<h3>';
                html += row.title;
                html += '</h3>';
                html += '</a>';
                html += '</li>';
            });
            tb.html(html);

            $("#pageNo0").val(data.pageNum);
            $("#pages0").val(data.pages);

            var pg = $(".dede_pages.u0");
            pg.empty();
            var html2 = '<ul class="pagelist">';
            html2 += '<li class="pre0"><a href="javascript:;">上一页</a></li>';

            for( var i=1;i<=data.pages;i++ )
            {
                if(i==data.pageNum)
                {
                    html2 += '<li class="thisclass pg0" ><a href="javascript:;">'+i+'</a></li>';
                }
                else
                {
                    html2 += '<li class="pg0" pgs="'+i+'"><a href="javascript:;">'+i+'</a></li>';
                }
            }
            html2 += '<li class="next0"><a href="javascript:;">下一页</a> <li>';
            html2 += '</ul>';
            pg.html(html2);
            after0();
        },"json");
    }

    function after0() {
        $('.tc.show').on('click', function(){
            var fid = $(this).attr("fid");
            layer.open({
                type: 2,
                title: '名片',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area : ['700px' , '505px'],
                content: '/user//getFileDetail.php?id='+fid
            });
        });


        $(".next0").click(function () {
            var pageNo = $("#pageNo0").val();
            var pages = $("#pages0").val();
            pageNo = parseInt(pageNo) + 1;
            if(pageNo>pages)
            {
                return;
            }
            var url = "/user/requestList";
            var info0 = {type:0,pageNo:pageNo,pageSize:20};
            send_post0(url,info0);
        });

        $(".pre0").click(function () {
            var pageNo = $("#pageNo0").val();
            pageNo = parseInt(pageNo) - 1;
            if(pageNo<=0)
            {
                return;
            }
            var url = "/user/requestList";
            var info0 = {type:0,pageNo:pageNo,pageSize:20};
            send_post0(url,info0);
        });

        $(".pg0").click(function () {
            var pageNo = $(this).attr("pgs");
            if(pageNo==null || typeof(pageNo) == "undefined")
            {
                return;
            }
            var url = "/user/requestList";
            var info0 = {type:0,pageNo:pageNo,pageSize:20};
            send_post0(url,info0);
        });

    };

    function send_post1(url, info) {
        $.post(url,info,function (data) {
            var tb = $("#tbody1");
            tb.empty();
            var html = '';
            $.each(data.list,function(i,row){
                html += '<li class="navdown1">';
                html += '<a class="tc show" fid="'+row.id+'" href="javascript:;" >';
                html += '<h3>';
                html += row.title;
                html += '</h3>';
                html += '</a>';
                html += '</li>';
            });
            tb.html(html);

            $("#pageNo1").val(data.pageNum);
            $("#pages1").val(data.pages);

            var pg = $(".dede_pages.u1");
            pg.empty();
            var html2 = '<ul class="pagelist">';
            html2 += '<li class="pre1"><a href="javascript:;">上一页</a></li>';

            for( var i=1;i<=data.pages;i++ )
            {
                if(i==data.pageNum)
                {
                    html2 += '<li class="thisclass pg1" ><a href="javascript:;">'+i+'</a></li>';
                }
                else
                {
                    html2 += '<li class="pg1" pgs="'+i+'"><a href="javascript:;">'+i+'</a></li>';
                }
            }
            html2 += '<li class="next1"><a href="javascript:;">下一页</a> <li>';
            html2 += '</ul>';
            pg.html(html2);
            after1();
        },"json");
    }

    function after1() {
        $('.tc.show').on('click', function(){
            var fid = $(this).attr("fid");
            layer.open({
                type: 2,
                title: '名片',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area : ['700px' , '505px'],
                content: '/user/getFileDetail.php?id='+fid
            });
        });


        $(".next1").click(function () {
            var pageNo = $("#pageNo1").val();
            var pages = $("#pages1").val();
            pageNo = parseInt(pageNo) + 1;
            if(pageNo>pages)
            {
                return;
            }
            var url = "/user/requestList";
            var info1 = {type:1,pageNo:pageNo,pageSize:20};
            send_post0(url,info1);
        });

        $(".pre1").click(function () {
            var pageNo = $("#pageNo1").val();
            pageNo = parseInt(pageNo) - 1;
            if(pageNo<=0)
            {
                return;
            }
            var url = "/user/requestList";
            var info1 = {type:1,pageNo:pageNo,pageSize:20};
            send_post1(url,info1);
        });

        $(".pg1").click(function () {
            var pageNo = $(this).attr("pgs");
            if(pageNo==null || typeof(pageNo) == "undefined")
            {
                return;
            }
            var url = "/user/requestList";
            var info1 = {type:1,pageNo:pageNo,pageSize:20};
            send_post1(url,info1);
        });

    };

    function send_post2(url, info) {
        $.post(url,info,function (data) {
            var tb = $("#tbody2");
            tb.empty();
            var html = '';
            $.each(data.list,function(i,row){
                html += '<li class="navdown1">';
                html += '<a class="tc show" fid="'+row.id+'" href="javascript:;" >';
                html += '<h3>';
                html += row.title;
                html += '</h3>';
                html += '</a>';
                html += '</li>';
            });
            tb.html(html);

            $("#pageNo2").val(data.pageNum);
            $("#pages2").val(data.pages);

            var pg = $(".dede_pages.u2");
            pg.empty();
            var html2 = '<ul class="pagelist">';
            html2 += '<li class="pre2"><a href="javascript:;">上一页</a></li>';

            for( var i=1;i<=data.pages;i++ )
            {
                if(i==data.pageNum)
                {
                    html2 += '<li class="thisclass pg2" ><a href="javascript:;">'+i+'</a></li>';
                }
                else
                {
                    html2 += '<li class="pg2" pgs="'+i+'"><a href="javascript:;">'+i+'</a></li>';
                }
            }
            html2 += '<li class="next2"><a href="javascript:;">下一页</a> <li>';
            html2 += '</ul>';
            pg.html(html2);
            after2();
        },"json");
    }

    function after2() {
        $('.tc.show').on('click', function(){
            var fid = $(this).attr("fid");
            layer.open({
                type: 2,
                title: '名片',
                maxmin: true,
                shadeClose: true, //点击遮罩关闭层
                area : ['700px' , '505px'],
                content: '/user//getFileDetail.php?id='+fid
            });
        });


        $(".next2").click(function () {
            var pageNo = $("#pageNo2").val();
            var pages = $("#pages2").val();
            pageNo = parseInt(pageNo) + 1;
            if(pageNo>pages)
            {
                return;
            }
            var url = "/user/requestList";
            var info2 = {type:2,pageNo:pageNo,pageSize:20};
            send_post2(url,info2);
        });

        $(".pre2").click(function () {
            var pageNo = $("#pageNo2").val();
            pageNo = parseInt(pageNo) - 1;
            if(pageNo<=0)
            {
                return;
            }
            var url = "/user/requestList";
            var info2 = {type:2,pageNo:pageNo,pageSize:20};
            send_post2(url,info2);
        });

        $(".pg2").click(function () {
            var pageNo = $(this).attr("pgs");
            if(pageNo==null || typeof(pageNo) == "undefined")
            {
                return;
            }
            var url = "/user/requestList";
            var info2 = {type:2,pageNo:pageNo,pageSize:20};
            send_post2(url,info2);
        });

    };


</script>