<!DOCTYPE html>
<html lang='cn' xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>纺织名片宝</title>
        <script type="text/javascript" src="/front/Scripts/jquery1.42.min.js"></script>
        <script type="text/javascript" src="/front/Scripts/jquery.SuperSlide.2.1.js"></script>
        <link rel="stylesheet" href="/front/Content/commons.css">
        <link href="/front/Content/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="/front/Scripts/index.js"></script>
    </head>

    <body>
    <div th:include="front/header"></div>
        <div class="banner1"></div>
        <div class="xtxx">
            <div class="xtxx_top">
                <div class="xtxx_tit"><p><a href="">新闻中心</a>&nbsp;>&nbsp;<a href="">行业资讯</a></p></div>
            </div>
            <div class="hyzx">

                <div class="hyzx_right" style="width:1200px">

                    <div class="wzxq">

                        <div class="wzxq_tit">
                            <h1><span th:text="${news.getTitle()}"></span></h1>
                            <p><span th:text="${news.getCreatetime().toLocaleString()}"></span><span>发布人：<span th:text="${news.getAuthor()}"></span></span></p>
                        </div>


                        <!-- include -->
                        <input type="hidden" id="fid" th:value="${news.id}">
                        <div id="include" class="wzxq_nr" ></div>
                        <!--<div class="wzxq_nr">-->
                        <!--<p>党的十八大以来，在新中国成立特别是改革开放以来我国发展取得的重大成就基础上，党和国家事业发生历史性变革，我国发展站到了新的历史起点上，中国特色社会主义进入了新的发展阶段。</p>-->
                        <!--<p>-->
                            <!--人民在期待着我们，历史在期待着我们，世界在期待着我们。历史的发展，总有一些关键的时间节点。决胜全面建成小康社会的历史大幕已经拉开，向全面建成小康社会冲刺的艰巨任务落在我们这一代人肩上。”——习近平</p>-->
                        <!--<p>我们的责任，就是要团结带领全党全国各族人民，接过历史的接力棒，继续为实现中华民族伟大复兴而努力奋斗，使中华民族更加坚强有力地自立于世界民族之林，为人类作出新的更大的贡献。”-->

                            <!--　　这是对民族的责任、对人民的责任、对党的责任。</p>-->
                        <!--<p>争取民族独立和人民解放、实现国家富强和人民幸福，回望世纪之路，中国共产党始终把人民、国家、民族的前途命运扛在肩上，带领人民持续奋斗、艰辛探索。-->

                            <!--　　今天，我们距离实现民族复兴宏伟目标从未如此之近；-->

                            <!--　　今天，站起来、富起来的中国人民，强起来的愿望从未如此强烈。-->

                            <!--　　党所肩负的历史任务有了新的指向——实现“两个一百年”奋斗目标、实现中华民族伟大复兴的中国梦。</p>-->
                        <!--<p>全面建成小康社会进入决胜阶段，13亿多人口的东方大国，冲刺跨越“中等收入陷阱”，史无前例；实现第一个百年奋斗目标指日可待，奔向第二个百年奋斗目标更需坚毅。-->

                            <!--　　55年前，毛泽东同志高瞻远瞩地指出：“从现在起，五十年内外到一百年内外，是世界上社会制度彻底变化的伟大时代，是一个翻天覆地的时代，是过去任何一个历史时代都不能比拟的。处在这样一个时代，我们必须准备进行同过去时代的斗争形式有着许多不同特点的伟大的斗争。”</p>-->
                        <!--<p>的十八大报告鲜明提出：“发展中国特色社会主义是一项长期的艰巨的历史任务，必须准备进行具有许多新的历史特点的伟大斗争。”-->

                            <!--　　观国情。作为世界第二大经济体、第一大贸易国、第一大外汇储备国，中国的应对之策，不仅关系自身发展，也影响着世界格局。与此同时，“三期叠加”的矛盾与风险集聚，改革发展稳定任务艰巨前所未有……-->

                            <!--　　察世情。处于百年未有之大变局，金融危机阴霾犹在，全球格局剧烈动荡，国际力量对比深度调整，大国博弈暗潮涌动，保护主义抬头、不确定性增加……-->

                            <!--　　看党情。新形势下，我们党面临着许多严峻挑战，党内存在着许多亟待解决的问题。尤其是一些党员干部中发生的贪污腐败、脱离群众、形式主义、官僚主义等问题，必须下大气力解决……</p>-->
                        <!--<p>大事业源于伟大梦想，伟大梦想催生伟大力量。-->

                            <!--　　实现伟大理想，没有平坦大道可走。今天的长征路上还有许多“雪山”“草地”需要跨越，还有许多“娄山关”“腊子口”需要征服。-->

                            <!--　　谁能回答时代之问？谁能领航新的征程？历史已经作出选择。-->

                            <!--　　中国共产党人不断回答时代命题，不断续写坚持和发展中国特色社会主义这篇大文章。-->

                            <!--　　这是开创未来的科学指引——-->

                            <!--　　“在新的时代条件下，我们要进行伟大斗争、建设伟大工程、推进伟大事业、实现伟大梦想，仍然需要保持和发扬马克思主义政党与时俱进的理论品格，勇于推进实践基础上的理论创新。”——习近平</p>-->

                    <!--</div>-->
                        <!-- include -->

                    </div>

                    <h4>
                        <a href="index.php">返回首页</a><a href="hangyezixun.php">返回列表</a>
                    </h4>



                    <div class="hyzx_tp">
                        <ul>
                            <li><a href="http://www.dzhfjt.com"><img src="/front/Content/images/timg5.png"/></a></li>
                            <li><a href="http://www.hktt.org"><img src="/front/Content/images/timg6.png"/></a></li>
                            <li><a href="http://www.mendele.com"><img src="/front/Content/images/timg7.png"/></a></li>
<!--                            <li><a href="#"><img src="../Content/images/a13.jpg"/></a></li>-->
                        </ul>
                    </div>


                </div>
            </div>
        </div>
    <div th:include="front/footer"></div>

    </body>
</html>

<script>

    $(function () {

        var id = $("#fid").val();
        var div = $("#include");
        $.ajax({
            url: "/news/newsDetail.php?",
            type: 'post',
            dataType: 'html',
            data:{id:id},
            success: function (data) {

                div.html(data);

            },
            error: function () {
                alert('服务器繁忙..请稍后重试！');
            }
        });

    });

</script>
