
<!DOCTYPE html>
<html lang='cn' xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>纺织名片宝</title>
        <script type="text/javascript" src="/front/Scripts/jquery1.42.min.js"></script>
        <script type="text/javascript" src="/front/Scripts/jquery.SuperSlide.2.1.js"></script>
        <link rel="stylesheet" href="/front/Content/commons.css">
        <link href="/front/Content/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="/front/Scripts/index.js"></script>
    </head>

    <body>
        <div th:include="front/header"></div>
        <div class="banner1"></div>
        <div class="xtxx">
            <div class="xtxx_top">
                <div class="xtxx_tit"><p><a href="">新闻中心</a>&nbsp;>&nbsp;<a href="">行业资讯</a></p></div>
            </div>
            <div class="hyzx">
                <div class="hyzx_left">
                    <h2>行业资讯</h2>
                    <ul>
                        <li class="hover3"><a href="">国际资讯</a></li>
                        <li><a href="">国内资讯</a></li>
                        <li><a href="">商务资讯</a></li>
                        <li><a href="">会务会展</a></li>
                    </ul>
                </div>
                <div class="hyzx_right">
                    <div class="hyzx_nr">
                        <div class="nrbox">
                            <ul>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>

                            </ul>
                        </div>
                        <div class="nrbox">
                            <ul>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>

                            </ul>
                        </div>
                       <div class="nrbox">
                            <ul>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>

                            </ul>
                        </div>
                        <div class="nrbox">
                            <ul>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>
                                <li><span class="fr">2017-08-25</span><a href="hangyezixun-list.php">新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表新闻列表</a></li>

                            </ul>
                        </div>
                        <div class="dede_pages">
                            <ul class="pagelist">
                                <li><a href="#">首页</a></li>
                                <li><a href="#">1</a></li>
                                <li class="thisclass"><a href="#">2</a></li>
                                <li><a href="#">下一页</a>
                                <li>
                            </ul>
                        </div>
                    </div>
                    <div class="hyzx_tp">
                        <ul>
                            <li><a href="http://www.cstexhong.com"><img src="../Content/images/20.png"/></a></li>
                            <li><a href="http://www.sz-dfc.com"><img src="../Content/images/21.png"/></a></li>
                           
                        </ul>
                    </div>


                </div>
            </div>
        </div>
        <div th:include="front/footer"></div>
    </body>
</html>
<script type="text/javascript">
		$(".nav li h3 a").eq(3).css("color","#000");
</script>