<!DOCTYPE html>
<html lang='cn' xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>纺织名片宝-加入我们</title>
        <script type="text/javascript" src="/front/Scripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/front/Scripts/jquery.SuperSlide.2.1.js"></script>
        <link rel="stylesheet" href="/front/Content/commons.css">
        <link href="/front/Content/style.css" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="/front/Scripts/index.js"></script>
    </head>

    <body>
        <div th:include="front/header"></div>
        <div class="banner1"></div>
        <div class="gsjs">
            <div class="gsjs_tit">
                <span class="on">第一社群</span>
                <span>人才招聘</span>
            </div>
            <div class="gywm_nr">
                <div class="gywmbox">
                    <div class="zyfz" style="width:1200px;">
                        <div class="zyfz_tit">
                            <ul>
                                <li><a href="javascript:void(0)" class="on1">微信社群</a></li>
                                <li><a href="javascript:void(0)">QQ社群</a></li>
                            </ul>
                        </div>
                        <div class="zyfzbox">
                            <div class="zyfz_nr" style="width:1200px;">
                                <div class="qqsq">
                                    <div class="qqsq_tit"><h2><img src="/front/Content/images/a16.jpg"/>纺织服装第一高端社群</h2></div>
                                    <div class="wxpt_tp"></div>
                                    <div class="qqsq_nr">
                                        <div class="qqsq_box">
                                            <h2>入群介绍</h2>
                                            <h4>说明</h4>
                                            <p>1.纺织服装第一高端社群，纺织人自已的平台！</p><br/>
                                            <p>2.目前共近30个
                                                高端QQ群。由于各群定位与功能不同，另为保障群质量，入群前需按照“全名+单位+职位”（如：马云+阿里网络+高管+CEO）申请，待群主审核后方可入群。</p>
                                            <p>3.入群后在5分钟内按照规则修改群昵称，未修改者将被请出群。</p>
                                            <p>4.群内杜绝一切恶意广告，诽谤和底毁言语，一经发现，永久退群！</p>
                                        </div>
                                        <div class="qqsq_box">
                                            <h2>QQ群类型</h2>
                                            <p>纺织服行业产业链复杂，为了给大家提供更好的精准化服务，我们按照行业细分和部门职能划分为以下各群，大家根据自已情况和需求，合理选择。</p>
                                        </div>
                                        <div class="qqsq_box">
                                            <h2>行业细分</h2>
                                            <div class="qqsq_box-img aa">
                                                <img src="/front/Content/images/drop-down.png">
                                           </div>
                                            <div class="xfnr div1">
                                                <ul>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="zyfz_nr" style="display: none;width:1200px;">
                                <div class="qqsq">
                                    <div class="qqsq_tit"><h2><img src="/front/Content/images/a16.jpg"/>纺织服装第一高端社群</h2></div>
                                    <div class="qqsq_nr">
                                        <div class="qqsq_box">
                                            <h2>入群介绍</h2>
                                            <h4>说明</h4>
                                            <p>纺织服装第一高端社群，纺织人自已的平台！</p><br/>
                                            <p>目前共近30个
                                                高端QQ群。由于各群定位与功能不同，另为保障群质量，入群前需按照“全名+单位+职位”（如：马云+阿里网络+高管+CEO）申请，待群主审核后方可入群。</p>
                                            <p>入群后在5分钟内按照规则修改群昵称，未修改者将被请出群。</p>
                                            <p>群内杜绝一切恶意广告，诽谤和底毁言语，一经发现，永久退群！</p>
                                        </div>
                                        <div class="qqsq_box">
                                            <h2>QQ群类型</h2>
                                            <p>纺织服行业产业链复杂，为了给大家提供更好的精准化服务，我们按照行业细分和部门职能划分为以下各群，大家根据自已情况和需求，合理选择。</p>
                                        </div>
                                        <div class="qqsq_box">
                                            <h2>行业细分</h2>
                                            <div class="qqsq_box-img ab">
                                                <img src="/front/Content/images/drop-down.png">
                                            </div>
                                            <div class="xfnr div2">
                                                <ul>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                    <li>
                                                        <div class="xfxq">
                                                            <img src="/front/Content/images/a14.jpg" width="153" height="150"/>
                                                            <div class="text_lb">
                                                                <p><b>群名称：</b>高管综合二群</p>
                                                                <p><b>群 号：</b>8888888888</p>
                                                            </div>
                                                        </div>
                                                    <li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(".zyfz .zyfz_tit a").each(function (index) {
                            $(this).click(function () {
                                $(".on1").removeClass("on1");
                                $(this).addClass("on1");
                                $(".zyfz .zyfzbox .zyfz_nr:eq(" + index + ")").show().siblings().hide();
                            });
                        });
                    </script>
                </div>
                <div class="gywmbox" style="display: none;">
                    <div class="rczp">
                        <p>
                            广西壮族自治区亚热带作物研究所成立于1952年，是隶属于广西区农垦局、广西区科技厅的农业科研公益型事业单位，是全国四大热带、亚热带作物种质资源保存基地之一。为了加强科技人员队伍建设，根据《广西壮族自治区事业单位公开招聘人员实施办法》(桂人社发〔2011〕155号)、《关于进一步规范区直事业单位公开招聘工作的通知》(桂人社办发〔2013〕135号)以及《广西壮族自治区事业单位公开招聘工作人员面试工作规则(试行)》(桂人社发〔2012〕79号)等文件精神，结合我所实际情况，制定招聘公告。</p>
                        <div class="rczp_tp">
                            <img src="/front/Content/images/a21.jpg"/>
                        </div>
                        <p>招聘的基本条件：</p>
                        <p>1、具有中华人民共和国国籍;</p>
                        <p>2、政治素质好，遵纪守法，作风正派，具有良好的职业道德;</p>
                        <p>3、工作责任心强，服从安排，团结同志，虚心好学;</p>
                        <p>4、身体健康。</p>
                    </div>

                </div>
                <div class="gywmbox" style="display: none;">
                    <div class="lxwm">
                        <div class="lxwm_tp"><img src="/front/Content/images/a_02.png"/></div>
                        <div class="lxwm_text">
                            <div class="lxwm_box" style="width:420px">
                                <div class="lxbox">
                                    <h2>上海澜慧企业管理咨询有限公司（纺织名片宝事业部）</h2>
                                    <ul>
                                        <li>地址：上海市闵行区浦江镇恒南路17号</li>
                                        <li>邮编：201114</li>
                                        <li>总机电话：021-888888</li>
                                        <li>传真：021-8888233</li>
                                        <li>网址：www.textilecards.com</li>
                                        <li>邮箱：info@textilecards.com</li>
                                    </ul>
                                </div>
                                <div class="lxbox">
                                    <h2>业务咨询</h2>
                                    <ul>
                                        <li>联系人：jack</li>
                                        <li>电话：021-888888-101</li>
                                        <li>邮箱：info@textilecards.com</li>
                                        <li>jack@textilecards.com</li>
                                    </ul>
                                </div>
                                <div class="lxbox">
                                    <h2>商务合作</h2>
                                    <ul>
                                        <li>联系人：Alan</li>
                                        <li>电话：021-888888-113</li>
                                        <li>邮箱：market@textilecards.com</li>
                                        <li>alan@textilecards.com</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="lxwm_box" style="width:250px">
                                <div class="lxbox">
                                    <ul>
                                        <h2>人才招聘</h2>
                                        <li>联系人：Grace</li>
                                        <li>电话：021-888888-108</li>
                                        <li>邮箱：hr@textilecards.com</li>
                                        <li>Grace@textilecards.com</li>
                                    </ul>
                                </div>
                                <div class="lxbox">
                                    <h2>财务发票</h2>
                                    <ul>
                                        <li>联系人：Lucy</li>
                                        <li>电话：021-888888-118</li>
                                        <li>邮箱：finance@textilecards.com</li>
                                        <li>lucy@textilecards.com</li>
                                    </ul>
                                </div>
                                <div class="lxbox">
                                    <h2>投诉建议</h2>
                                    <ul>
                                        <li>联系人：Mark</li>
                                        <li>电话：021-888888-123</li>
                                        <li>邮箱：feedback@textilecards.com</li>
                                        <li>mark@textilecards.com</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            $(".gsjs .gsjs_tit span").each(function (index) {
                $(this).click(function () {
                    $(".on").removeClass("on");
                    $(this).addClass("on");
                    $(".gsjs .gywm_nr .gywmbox:eq(" + index + ")").show().siblings().hide();
                });
            });
        </script>
        <div th:include="front/footer"></div>
    </body>
</html>
<script type="text/javascript">
		$(".nav li h3 a").eq(6).css("color","#000");
</script>
<script type="text/javascript">
    $(document).ready(function(){
        $(".aa").click(function(){
            $(".div1").fadeIn(3000);
        });
    });
    $(document).ready(function(){
        $(".ab").click(function(){
            $(".div2").fadeIn(3000);
        });
    });

</script>

