<!DOCTYPE html>
<html lang='cn' xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script type="text/javascript" src="/front/Scripts/jquery-1.9.1.min.js"></script>
        <script type="text/javascript" src="/front/Scripts/jquery.SuperSlide.2.1.js"></script>
        <script type="text/javascript" src="/front/Scripts/index.js"></script>
        <link rel="stylesheet" href="/front/Content/commons.css"/>
        <link rel="stylesheet" href="/front/Content/style.css"/>
        <link rel="stylesheet" href="/front/Content/mingpianshouyi.css"/>
        <link rel="stylesheet" href="/front/Content/zhanghuchongzhi.css"/>
    </head>
    <body>
        <div th:include="front/header"></div>
        <div class="banner1"></div>
        <div class="xtxx">
            <div class="xtxx_top">
                <div class="xtxx_tit"><p><a th:href="@{/user/personal.php}">个人中心</a>&nbsp;>&nbsp;<a th:href="@{/user/income.php}">名片收益</a></p></div>
            </div>
            <div class="wdda wdda_profit">
                <div class="wdda_left fl">
                    <ul class="wdda-left">
                        <li><a th:href="@{/user/recharge.php}">账户充值</a></li>
                        <li><a th:href="@{/user/income.php}" class="on">名片收益</a></li>
                        <li><a th:href="@{/user/withdraw.php}" class="tixian">申请提现</a></li>
                        <li><a th:href="@{/user/withdrawRecord.php}">提现记录</a></li>
                    </ul>
                </div>
                <div class="profit_right">
                    <table border="1">
                        <thead>
                            <tr>
                                <th>总售价</th>
                                <th>平台分成</th>
                                <th>个人所得</th>
                                <th>资源</th>
                                <th>时间</th>
                                <th class="w535">备注</th>
                            </tr>
                        </thead>
                        <tbody id="tbody">
                        <!--
                            <tr>
                                <td>2017-11-29  15：25</td>
                                <td>50.00元</td>
                                <td class="w535">会员查看了你发布的名片，************</td>
                            </tr>
                        -->
                        </tbody>
                    </table>

                    <div class="dede_pages">
                        <ul class="pagelist">
                            <li><a href="#">上一页</a></li>
                            <li><a href="#">1</a></li>
                            <li class="thisclass"><a href="#">2</a></li>
                            <li><a href="#">下一页</a>
                            <li>
                        </ul>
                    </div>
                    <input type="hidden" id="pageNo" value="1">
                    <input type="hidden" id="pages" value="1">
                </div>
            </div>
            <!--<script type="text/javascript">
                jQuery(".wdda_left").slide({
                    type: "menu", //效果类型
                    titCell: ".ma", // 鼠标触发对象
                    targetCell: ".fbnrbox", // 效果对象，必须被titCell包含
                    effect: "slideDown",//下拉效果
                    delayTime: 300, // 效果时间
                    triggerTime: 0, //鼠标延迟触发时间
                    returnDefault: true  //返回默认状态
                });
            </script>-->
            <!--<script>
                $(".wdda .wdda_left h3").each(function (index) {
                    $(this).click(function () {
                        $(".on5").removeClass("on5");
                        $(this).addClass("on5");
                        $(".wdda .wdda_right .danr:eq(" + index + ")").show().siblings().hide();
                    });
                });
            </script>-->
        </div>
        <div th:include="front/footer"></div>
    </body>
</html>
<script>

    $(function () {
        var pageNo = $("#pageNo").val();
        var url = "/user/incomeList";
        var info = {pageNo:pageNo,pageSize:8}
        send_post(url,info);

    });

    function send_post(url, info) {
        $.post(url,info,function (data) {
            var tb = $("#tbody");
            tb.empty();
            var html = '';
            $.each(data.list,function(i,row){
                html += '<tr>';
                html += '<td>';
                html += row.all;
                html += '</td>';

                html += '<td>';
                html += row.divide;
                html += '</td>';

                html += '<td>';
                html += row.income;
                html += '</td>';

                html += '<td>';
                html += '名片购买';
                html += '</td>';

                html += '<td>';
                if( row.time!="" && row.time!=undefined )
                {
                    /*将时间戳转化为日期*/
                    var time = new Date(row.time);
                    row.time = time.getFullYear() + "-" + (time.getMonth() + 1) + "-" + time.getDate();
                }else{
                    row.time="";
                }
                html += row.time;
                html += '</td>';

                html += '<td>';
                if( row.detail == "" || row.detail == null)
                {
                    html += '暂无备注';
                }
                else
                {
                    html += row.detail;
                }
                html += '</td>';

                html += '</tr>';
            });
            tb.html(html);

            $("#pageNo").val(data.pageNum);
            $("#pages").val(data.pages);

            var pg = $(".dede_pages");
            pg.empty();
            var html2 = '<ul class="pagelist">';
            html2 += '<li class="pre"><a href="javascript:;">上一页</a></li>';

            for( var i=1;i<=data.pages;i++ )
            {
                if(i==data.pageNum)
                {
                    html2 += '<li class="thisclass pg" ><a href="javascript:;">'+i+'</a></li>';
                }
                else
                {
                    html2 += '<li class="pg" pgs="'+i+'"><a href="javascript:;">'+i+'</a></li>';
                }
            }
            html2 += '<li class="next"><a href="javascript:;">下一页</a> <li>';
            html2 += '</ul>';
            pg.html(html2);
            after();
        },"json");
    }

    function after() {
        $(".next").click(function () {
            var pageNo = $("#pageNo").val();
            var pages = $("#pages").val();
            pageNo = parseInt(pageNo) + 1;
            if(pageNo>pages)
            {
                return;
            }
            var url = "/user/incomeList";
            var info = {pageNo:pageNo,pageSize:8}

            send_post(url,info);
        });

        $(".pre").click(function () {
            var pageNo = $("#pageNo").val();
            pageNo = parseInt(pageNo) - 1;
            if(pageNo<=0)
            {
                return;
            }
            var url = "/user/incomeList";
            var info = {pageNo:pageNo,pageSize:8}
            send_post(url,info);
        });

        $(".pg").click(function () {
            var pageNo = $(this).attr("pgs");
            if(pageNo==null || typeof(pageNo) == "undefined")
            {
                return;
            }
            var url = "/user/incomeList";
            var info = {pageNo:pageNo,pageSize:8}
            send_post(url,info);
        });

    }


</script>