<!DOCTYPE html>
<html lang='cn' xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/front/Scripts/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="/front/Scripts/jquery.SuperSlide.2.1.js"></script>
    <script type="text/javascript" src="/front/Scripts/index.js"></script>
    <script type="text/javascript" src="/front/Scripts/jquery.page.js"></script>
    <link rel="stylesheet" href="/front/Content/wodeshuju.css">
    <link rel="stylesheet" href="/front/Content/commons.css">
    <link rel="stylesheet" href="/front/Content/style.css">
    <link rel="stylesheet" href="/front/Content/tixianjilv.css">

</head>
<body>
<div th:include="front/header"></div>
<div class="banner1"></div>
<div class="xtxx">
    <div class="xtxx_top">
        <div class="xtxx_tit"><p><a th:href="@{/user/personal.php}">个人中心</a>&nbsp;>&nbsp;<a th:href="@{/user/dataCenter.php}">我的数据</a></p></div>
    </div>




    <div class="wdda wdda_profit">

        <div class="wdda_left fl" style="width: 185px">
            <ul class="shuji-nav">
                <li  class="navdowna"><a>采购商表</a></li>
                <li><a>买家内部通讯录</a></li>
                <li><a>报告下载</a></li>
                <li><a>制定数据</a></li>
                <li><a href="/user/myMessage.php">留言查询</a></li>
            </ul>
        </div>
        <div class="profit_right mt60 mb238" style="width: 945px;">

            <div class=" ct">
                <table border="1" style="border-collapse: collapse; color: #6f6f6f;">
                    <thead>
                    <tr>
                        <th style="width: 40px">序号</th>
                        <th>报表名称</th>
                        <th class="w535">购买时间</th>
                        <th>购买价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 40px;">01</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">02</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">03</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">04</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">05</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">06</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">07</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    </tbody>
                </table>
                <div class="pageDiv"></div>
            </div>
            <div class=" ct">
                <table border="1" style="border-collapse: collapse; color: #6f6f6f;">
                    <thead>
                    <tr>
                        <th style="width: 40px">序号</th>
                        <th>报表名称</th>
                        <th class="w535">购买时间</th>
                        <th>购买价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 40px;">01</td>
                        <td style="width: 380px">19999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">02</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">03</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">04</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">05</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">06</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">07</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    </tbody>
                </table>
                <div class="pageDiv"></div>
            </div>
            <div class=" ct">
                <table border="1" style="border-collapse: collapse; color: #6f6f6f;">
                    <thead>
                    <tr>
                        <th style="width: 40px">序号</th>
                        <th>报表名称</th>
                        <th class="w535">购买时间</th>
                        <th>购买价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 40px;">01</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">02</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">03</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">04</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">05</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">06</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">07</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    </tbody>
                </table>
                <div class="pageDiv"></div>
            </div>
            <div class=" ct">
                <table border="1" style="border-collapse: collapse; color: #6f6f6f;">
                    <thead>
                    <tr>
                        <th style="width: 40px">序号</th>
                        <th>报表名称</th>
                        <th class="w535">购买时间</th>
                        <th>购买价格</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 40px;">01</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">02</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">03</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">04</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">05</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">06</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    <tr>
                        <td style="width: 40px;">07</td>
                        <td style="width: 380px">9999999999999999999999</td>
                        <td>2018-2-9</td>
                        <td>50.00元</td>
                    </tr>
                    </tbody>
                </table>
                <div class="pageDiv"></div>
            </div>
        </div>

    </div>


    <div th:include="front/footer"></div>
<script type="text/javascript">
    $(document).ready(function(){
        $('.ct:gt(0)').hide()
        $('.wdda .shuji-nav li').click(function(){
            $(this).addClass("navdowna")
                .siblings().removeClass();
            //获取当前标签的索引值
            var content_idnex = $('.wdda .shuji-nav li').index(this);
            $('.ct').eq(content_idnex).show()
                .siblings().hide();
        });

    });


</script>

    <script type="text/javascript">
        $(function(){$(".pageDiv").createPage({
            pageCount:9,//总页数
            current:1,//当前页
            turndown:'true',//是否显示跳转框，显示为true，不现实为false,一定记得加上引号...
            backFn:function(p){
                console.log(p);
            }
        });
        })
    </script>
</div>
</body>
</html>
